*,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'FZST';
}
/* 字体 */
@font-face {
  font-family: 'FZST';
  src: url('../font/FZCHSJW.woff2') format('woff2'),
    url('../font/FZCHSJW.woff') format('woff'),
    url('../font/FZCHSJW.ttf') format('truetype'),
    url('../font/FZCHSJW.eot') format('embedded-opentype'),
    url('../font/FZCHSJW.svg') format('svg');
}
.main {
  width: 3840px;
  height: 1080px;
  background: url(../img/bigback.png) no-repeat center center;
}
.mainBox {
  display: flex;
  justify-content: center;
}
.mainTitle {
  width: 100%;
  height: 170px;
}
.title_back {
  display: block;
  width: 59px;
  height: 53px;
  background: url(../img/back.png) no-repeat center center;
  float: left;
  margin: 78px 0 0 72px;
  cursor: pointer;
}
.title_back:hover {
  background: url(../img/backhover.png) no-repeat center center;
}
.title_btn {
  width: 336px;
  height: 86px;
  font-size: 48px;
  line-height: 86px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: url(../img/btn.png) no-repeat center center;
  float: left;
  margin: 60px 0 0 336px;
}
.title_btn:hover {
  text-shadow: 0 0 4px #000;
}
.title_text {
  width: 850px;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  text-shadow: 1px 1px 3px #000;
  font-size: 55px;
  color: #fff;
  padding-top: 40px;
  letter-spacing: 4px;
}
.box1 {
  width: 1352px;
  height: 422px;
  margin: 10px;
  background: url(../img/kuang1.png) no-repeat center bottom;
}
.box2 {
  width: 992px;
  height: 422px;
  margin: 10px;
  background: url(../img/kuang2.png) no-repeat center bottom;
}
.box3 {
  width: 1843px;
  height: 422px;
  margin: 10px 20px;
  background: url(../img/kuang3.png) no-repeat center bottom;
}
.boxName {
  width: 100%;
  height: 36px;
}
.nameText {
  display: block;
  width: 108px;
  height: 36px;
  margin: 0 auto;
  background: url(../img/titleBack.png) no-repeat center center;
  font-size: 24px;
  color: #fff;
  line-height: 36px;
  text-align: center;
}
.content {
  display: flex;
  justify-content: center;
}
.echart {
  width: 300px;
  height: 370px;
}
.conLeft,
.conRight {
  width: 48%;
  margin-left: 2%;
  margin-top: 1%;
}
.btn1 {
  width: 220px;
  height: 48px;
  border: 1px solid #4f89b2;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: center;
  line-height: 48px;
  font-size: 22px;
  float: left;
  margin: 3px;
}
.btn2 {
  width: 428px;
  height: 212px;
  border: 1px solid #4f89b2;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: left;
  line-height: 34px;
  font-size: 22px;
  padding: 10px;
  float: left;
  margin: 3px;
}
.btn3 {
  width: 200px;
  height: 52px;
  text-align: left;
  font-size: 22px;
  color: #ff6600;
  line-height: 44px;
  float: left;
  margin: 3px;
}

.orange {
  color: #ff6600;
}
.blue {
  color: #40d3f2;
  font-size: 18px;
}
.blue span {
  font-size: 18px;
}
.big {
  font-size: 22px;
}

.conMan {
  width: 400px;
  height: 370px;
  display: flex;
  justify-content: center;
}
.conManLeft {
  width: 150px;
  padding-top: 50px;
}

.MainItem {
  padding-top: 15px;
  float: left;
  width: 125px;
  height: 185px;
  text-align: center;
}
.TextBig {
  text-align: center;
  color: #fff;
  font-size: 30px;
  display: inline-block;
  width: 100%;
  line-height: 44px;
}
.TextSmall {
  font-size: 14px;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}
